@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pinyon+Script&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('./images/background-img.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px;
}

#content {
    display: grid;
    grid-template: 1fr 5fr 1fr/98.9vw;
    height: 100vh;
    padding: 0px;
    gap: 0px;
}

.hero {
    background-color: hsla(0, 0%, 0%, 0.8);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero > div {
    width: 140px;
    height: 100px;
    border-radius: 0;
    grid-row: 1/2;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;

    
}



.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pinyon Script', cursive;
    width: 100%;
    grid-row: 2/3;
    font-size: 100px;


}

.main-body > div#main-body-text {
    background-color: hsla(0, 0%, 0%, 0.38);
    width: 100%;
    text-align: center;
}

/** Menu page**/
.main-body > div#div-container {
    background-color: hsla(0, 0%, 0%, 0.38);
    width: 800px;
    height: 1000px;
    margin: 100px;

    display: grid;
    grid-template: repeat(3,300px) / repeat(2,400px);
    grid-gap: 20px;
    justify-content: center;
    padding: 40px;
}

#div-container {
    
}

#div-container > div {
    background-color: hsla(0, 0%, 0%, 0.442);
    color: white;
    width: 300px;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

#div-container > div > img {
    height: 150px;
    width: auto;
}

/** About Page **/

#about {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 300px;
    background-color: hsla(0, 0%, 0%, 0.8);
    color: white;
    text-align: center;
    padding: 50px;
}

#about-header {
    font-size: 50px;
    text-decoration-line: underline;
}

#about-text-div {
    font-size: large;
    font-family:'Open Sans', sans-serif;
}

/*** Footer **/
.footer {
    background-color: hsla(0, 0%, 0%, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: large;
    height: 110px;
    margin: 0;
}